.gridcontainer {
   display: grid;
   width: 300px;
}

.gridrow 
{
   display: grid;
   grid-column: 1;
   width: 300px;
   height: 30px;
}

.gridbutton {
   display: grid;
   grid-row: 1;
   width: 30px;
   height: 30px;
   border: none;
   background-color:whitesmoke;
}

.gridbutton:hover 
{
   background-color:lightgrey;
}

.gridbutton:active 
{
   background-color: grey;
}

